<html>
  <head>
    <link href="/dist/output.css" rel="stylesheet">
  </head>
  <body class="font-sans bg-zinc-100">
    <header>
      <h1 class="text-xl">Autodidactic Study Group</h1>
    </header>
    <main></main>
  </body>
</html>